body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(28, 27, 28);
    color: aliceblue;
}
nav{
    display: flex;
    justify-content: space-around;
   /* border: 1px red solid; */
   align-items: center;
   white-space: nowrap;
   padding: 2%;
   margin: 2%;
   background-color: rgba(223, 9, 212, 0.158);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px red solid; */
    width: 20%;
   
}
.balance,.amount{
    display: flex;
    align-items: center;
    
}
#blog-btn{
    width: 5%;
    height: 7%;
    padding: 8px 0 8px 0;
    font-weight: bold;
    background-color: rgb(255, 0, 149);
    border-radius: 5px;
    font-size: 18px;
}
#img-logo{
    width: 20%;
    height:20%;
}
.img-balance{
    width: 30%;
    height: 30%;
}
.main-btns{
    /* border: 1px red solid;     */
text-align: center;
margin-top: 100px;
}
.btn-main{
    padding: 15px;
    font-weight: bolder;
    font-size: 18px;
    margin: 0 20px 0 20px;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgba(240, 248, 255, 0);
    border: 2px solid wheat;
}

.noakhali{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    margin: 2% 12% 0 12%;
    padding: 5%;
    border-radius: 10px;
}
#img-amount{
    width: 30%;
    height: 30%;
}
.text-noakhali,.img-noakhali{
    width: 40%;
}
.img-noakhali{
    width: 30%;
    height: 20%;
}
.amount{
    background-color: rgba(60, 62, 62, 0.594);
    color: rgb(255, 255, 255);
    width: 35%;
   display: flex;
   justify-content: center;
   border-radius: 5px;
}
.input{
    background-color: black;
    border-color: rgb(255, 0, 149);
    border-radius: 20px;
    height: 30px;
    width: 100%;
    color: aliceblue;
}
.input::placeholder{
    padding: 10px;
}
.donate-now{
    background-color: rgb(255, 0, 149);
    border-color: rgb(255, 0, 149);
    border-radius: 20px;
    /* height: 30px; */
    width: 100%;
    color: aliceblue;
    padding: 15px;
    font-size: large;
    color: black;
    font-weight: bolder;
    margin-top: 15px;
}
.btn:hover{
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
}













































/* 
#baa{
    padding: 20px;
    margin: 100px;
    background-color: aqua;
    font-weight: bolder;
    font-size: 40px;
} */